In [3]:
#1. ASCII Values of characters
char = input("Enter the character: ")
print("The ASCII value is: ", ord(char))

Enter the character:  F

The ASCII value is:  70

In [31]:
#2. Printing pattern
rows = int(input("Enter a number from 1-10: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

Enter a number from 1-10:  5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [33]:
#3. Prime numbers in a range
low = int(input("Enter the lower limit of the range: "))
high = int(input("Enter the upper limit of the range: "))

print("Prime numbers between ", low, " and ", high, " are:")

for num in range(low, high + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter the lower limit of the range:  400
Enter the upper limit of the range:  500

Prime numbers between  400  and  500  are:
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499

In [55]:
#4. Assign diff name to function and recall it
def huehue(st):
    print(st)
    
huehue("Oh look a strawberry!")
new= huehue
new("meow meow meow meow")

Oh look a strawberry!
meow meow meow meow

In [45]:
#5. lowercase before uppercase
s = input("Enter a sentence: ")
u = ' '
v = ' '
for char in s:
    if (char.isupper()):
        v+= char
    if (char.islower()):
        u+= char

new= u+v
print("Rearranged string: ", new)

Enter a sentence:  etvhbloi HDDSthuhuh TDTST

Rearranged string:   etvhbloithuhuh HDDSTDTST

In [47]:
#6. Counting letters, digits, special characters
string = input("Enter a tring : ")
alphabets = digits = special = 0

for i in string:
    if(i.isalpha()):
        alphabets += 1
    elif(i.isdigit()):
        digits += 1
    else:
        special += 1
        
print("Alpahbets: ", alphabets)
print("Digits: ", digits)
print("Special characters: ", special)

Enter a tring :  udguy72832hd @##hc hfg*& FDR

Alpahbets:  15
Digits:  5
Special characters:  8

In [53]:
#7. Remove empty strings
string = ["jfdg", "   ", "123", "5642ths", " ", "56.99"]
print("List before removing empty strings: ", string)

for x in string:
    if (x.isspace()):
        string.remove(x)

print("List after removing empty strings: ", string)

List before removing empty strings:  ['jfdg', '   ', '123', '5642ths', ' ', '56.99']
List after removing empty strings:  ['jfdg', '123', '5642ths', '56.99']

In [61]:
#8. Concatenate two lists index wise
list1 = [123, "fhba", 78.99, 4, -99]
list2 = ["huehue", "jhgdg", "  ", 65, 8]
result = []
for i in range(len(list1)):
    result.append(str(list1[i]) + str(list2[i]))

print("Original lists: ")
print(list1)
print(list2)
print("Resultant list: ", result)

Original lists:
[123, 'fhba', 78.99, 4, -99]
['huehue', 'jhgdg', '  ', 65, 8]
Resultant list:  ['123huehue', 'fhbajhgdg', '78.99  ', '465', '-998']

In [63]:
#9. Remove all occurrences of an item in list
x = [11, 2, 3, 4, 2, 2, 3, 46, 72, 33, 2, 4, 89]
print("List: ", x)
y= int(input("Enter element to remove: "))

while y in x: 
    x.remove(y)

print("New list: ", x)

List:  [11, 2, 3, 4, 2, 2, 3, 46, 72, 33, 2, 4, 89]

Enter element to remove:  2

New list:  [11, 3, 4, 3, 46, 72, 33, 4, 89]

In [67]:
#10. Access value 20 from a tuple
x = (11, 2, 3, 4, 2, 20, 3, 46, 72, 33, 2, 4, 89)
if 20 in x:
    print("20 found at index: ", x.index(20))
else:
    print("20 not found!")

20 found at index:  5

In [69]:
#11. Copy specific elements from one tuple to another
x = (11, 2.67, 3, 4, 1.32, 20, 3, 46, 72, 33, 2, 4, 89, 90.4, 2.4)
print("Original tuple: ", x)
y = tuple(x[3:9])
print("Copied tuple: ", y)

Original tuple:  (11, 2.67, 3, 4, 1.32, 20, 3, 46, 72, 33, 2, 4, 89, 90.4, 2.4)
Copied tuple:  (4, 1.32, 20, 3, 46, 72)