#first- data types

In [4]:
a= 20; print(a);
b= 7+3j;
print(b);

20
(7+3j)

In [8]:
s1= "Khek"
s2= 'Khek'
s3= """Khek"""
print(s1,"\n",s2,"\n",s3)

Khek
 Khek
 Khek

In [25]:
x= 'true'
print(type(x))
print(type(b))

<class 'str'>
<class 'complex'>

In [27]:
z= 3**5;
print(z)

243

In [51]:
#list, dictionary, tuples for ML
#1. List
listie= [1, 3, 67, "khek", 4.88]
print(listie)

#2. Tuples
tup= (1, 3, 67, "khek", 4.88)
print(tup)

#3. Dictionary
dittie= {1: 34, 2: "Name", 3: 3.45}
print(dittie)
print(dittie[3])

#manipulations on list, tuple, dictionary
#tuples are unchangeable
listie.append(7)
del dittie[1]
print(listie)
print(tup)
print(dittie)

[1, 3, 67, 'khek', 4.88]
(1, 3, 67, 'khek', 4.88)
{1: 34, 2: 'Name', 3: 3.45}
3.45
[1, 3, 67, 'khek', 4.88, 7]
(1, 3, 67, 'khek', 4.88)
{2: 'Name', 3: 3.45}

In [ ]:
#1. WAP to print biodata using python, dictionary
#2. Two elements swapping in a list
#3. Ways to check if an element exists in a list
#4. Find smallest and largest in a list
#5. Print all even numbers in a tuple
#6. Print positive numbers of a tuple